USE [master]
GO
/****** Object:  Database [project1]    Script Date: 2024/11/20 下午 01:36:30 ******/
CREATE DATABASE [project1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\project1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'project1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\project1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [project1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [project1]
GO
/****** Object:  Table [dbo].[booking]    Script Date: 2024/11/20 下午 01:36:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NULL,
	[MemberID] [nvarchar](12) NULL,
	[ShowTimeID] [int] NULL,
	[totalTicket] [int] NULL,
	[UseBonusPoint] [int] NULL,
	[TotalPrice] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_detail]    Script Date: 2024/11/20 下午 01:36:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_detail](
	[BookingID] [int] NOT NULL,
	[TicketType] [nvarchar](50) NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC,
	[TicketType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking_seat]    Script Date: 2024/11/20 下午 01:36:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking_seat](
	[BookingID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC,
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[members]    Script Date: 2024/11/20 下午 01:36:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[members](
	[MemberID] [nvarchar](12) NOT NULL,
	[MemberName] [nvarchar](10) NULL,
	[Gender] [char](1) NULL,
	[DateOfBirth] [date] NULL,
	[PhoneNumber] [nvarchar](12) NULL,
	[BonusPoints] [int] NULL,
	[SignupDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie]    Script Date: 2024/11/20 下午 01:36:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie](
	[MovieID] [int] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Duration] [int] NULL,
	[Genre] [nvarchar](20) NULL,
	[mimage] [nvarchar](50) NULL,
	[mdesc] [nvarchar](300) NULL,
	[MovieRating] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seat]    Script Date: 2024/11/20 下午 01:36:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seat](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[TheaterID] [int] NULL,
	[ShowTimeID] [int] NULL,
	[SeatNumber] [int] NULL,
	[IsBooked] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[show_time]    Script Date: 2024/11/20 下午 01:36:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[show_time](
	[ShowTimeID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NULL,
	[TheaterID] [int] NULL,
	[ShowDate] [date] NULL,
	[ShowTime] [time](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[theater]    Script Date: 2024/11/20 下午 01:36:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theater](
	[TheaterID] [int] NOT NULL,
	[TheaterName] [nvarchar](3) NULL,
	[SeatCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TheaterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[booking] ON 

INSERT [dbo].[booking] ([BookingID], [OrderDate], [MemberID], [ShowTimeID], [totalTicket], [UseBonusPoint], [TotalPrice]) VALUES (1, CAST(N'2024-07-01' AS Date), N'M2024070001', 2, 1, 50, 280)
INSERT [dbo].[booking] ([BookingID], [OrderDate], [MemberID], [ShowTimeID], [totalTicket], [UseBonusPoint], [TotalPrice]) VALUES (2, CAST(N'2024-07-01' AS Date), N'M2024070002', 2, 2, 30, 560)
INSERT [dbo].[booking] ([BookingID], [OrderDate], [MemberID], [ShowTimeID], [totalTicket], [UseBonusPoint], [TotalPrice]) VALUES (3, CAST(N'2024-07-02' AS Date), N'M2024070003', 2, 3, 120, 840)
SET IDENTITY_INSERT [dbo].[booking] OFF
GO
INSERT [dbo].[booking_detail] ([BookingID], [TicketType], [Quantity]) VALUES (66, N'全票', 1)
INSERT [dbo].[booking_detail] ([BookingID], [TicketType], [Quantity]) VALUES (67, N'全票', 1)
INSERT [dbo].[booking_detail] ([BookingID], [TicketType], [Quantity]) VALUES (67, N'雙人爆米花套票', 1)
GO
INSERT [dbo].[Booking_seat] ([BookingID], [SeatID]) VALUES (66, 1901)
INSERT [dbo].[Booking_seat] ([BookingID], [SeatID]) VALUES (67, 1873)
INSERT [dbo].[Booking_seat] ([BookingID], [SeatID]) VALUES (67, 1874)
GO
INSERT [dbo].[members] ([MemberID], [MemberName], [Gender], [DateOfBirth], [PhoneNumber], [BonusPoints], [SignupDate]) VALUES (N'M2024070001', N'王小明', N'M', CAST(N'1990-01-15' AS Date), N'0912345678', 124, CAST(N'2024-07-01' AS Date))
INSERT [dbo].[members] ([MemberID], [MemberName], [Gender], [DateOfBirth], [PhoneNumber], [BonusPoints], [SignupDate]) VALUES (N'M2024070002', N'李美麗', N'F', CAST(N'1985-03-22' AS Date), N'0918765432', 18, CAST(N'2024-07-02' AS Date))
INSERT [dbo].[members] ([MemberID], [MemberName], [Gender], [DateOfBirth], [PhoneNumber], [BonusPoints], [SignupDate]) VALUES (N'M2024070003', N'張偉', N'M', CAST(N'1992-07-30' AS Date), N'0923456789', 180, CAST(N'2024-07-03' AS Date))
GO
INSERT [dbo].[movie] ([MovieID], [Title], [Duration], [Genre], [mimage], [mdesc], [MovieRating]) VALUES (1, N'腦筋急轉彎2', 96, N'Adventure', N'腦筋急轉彎2.png', N'《腦筋急轉彎2》除了率領最受觀眾喜愛的情緒主角樂樂、憂憂、怒怒、厭厭、驚驚再度登場，更深入探索踏上青少女時期的萊莉內心，全新情緒角色也將全面解鎖，即將隨著她的嶄新日常生活一一登場，但一場「腦內革命」也無可避面地隨之爆發，令萊莉的內心世界再度陷入空前危機，樂樂和大夥們因而展開全新旅程，勢必奪回主控權以阻止災難發生！', N'普遍級(0+)')
INSERT [dbo].[movie] ([MovieID], [Title], [Duration], [Genre], [mimage], [mdesc], [MovieRating]) VALUES (2, N'死侍與金鋼狼', 127, N'Action', N'死侍與金鋼狼.png', N'本片是《死侍》系列加入漫威電影宇宙的第一炮，並象徵X戰警正式「回歸」漫威懷抱，死侍與金鋼狼再續睽別15年兄弟情，也被《洛基》影集中的時間變異管理局抓入，一如以往惡搞，他依然嘴賤嗆說漫威救世主非他莫屬，勢在改寫漫威電影宇宙。 史上最另類超級英雄、語不驚人死不休的死侍睽違六年終於萬眾矚目重返大銀幕，更首度加入漫威電影宇宙！除了與老搭檔鋼人、青少女彈頭和雪緒再度聚首，更將與睽別15年的金鋼狼二度並肩作戰再續兄弟情，時間變異管理局找上門帶走他也老神在在，並自認只有自己能當漫威救世主，改寫漫威電影宇宙。', N'輔導級(15+)')
INSERT [dbo].[movie] ([MovieID], [Title], [Duration], [Genre], [mimage], [mdesc], [MovieRating]) VALUES (3, N'噤界：入侵日', 100, N'Sci-Fi', N'噤界：入侵日.png', N'珊姆在踏上紐約旅途時，撞見了外星怪物從天而降大舉入侵地球，令所有人不知所措，慌亂地四處逃散。就在一切逐漸安靜下來之後，世界開始全面噤聲，大家開始了解這群外星生物對聲音很敏銳，只要發出聲音就會立刻沒命。過程中她結識了一起逃難的陌生人，存活下來的人們該如何就地避難？', N'輔導級(15+)')
GO
SET IDENTITY_INSERT [dbo].[seat] ON 

INSERT [dbo].[seat] ([SeatID], [TheaterID], [ShowTimeID], [SeatNumber], [IsBooked]) VALUES (11, 1, 2, 1, N'false')
INSERT [dbo].[seat] ([SeatID], [TheaterID], [ShowTimeID], [SeatNumber], [IsBooked]) VALUES (12, 1, 2, 2, N'false')
INSERT [dbo].[seat] ([SeatID], [TheaterID], [ShowTimeID], [SeatNumber], [IsBooked]) VALUES (13, 1, 2, 3, N'false')
GO
SET IDENTITY_INSERT [dbo].[seat] OFF
GO
SET IDENTITY_INSERT [dbo].[show_time] ON 

INSERT [dbo].[show_time] ([ShowTimeID], [MovieID], [TheaterID], [ShowDate], [ShowTime]) VALUES (2, 1, 1, CAST(N'2024-08-20' AS Date), CAST(N'12:00:00' AS Time))
INSERT [dbo].[show_time] ([ShowTimeID], [MovieID], [TheaterID], [ShowDate], [ShowTime]) VALUES (3, 1, 1, CAST(N'2024-08-20' AS Date), CAST(N'16:30:00' AS Time))
INSERT [dbo].[show_time] ([ShowTimeID], [MovieID], [TheaterID], [ShowDate], [ShowTime]) VALUES (4, 2, 2, CAST(N'2024-08-20' AS Date), CAST(N'13:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[show_time] OFF
GO
INSERT [dbo].[theater] ([TheaterID], [TheaterName], [SeatCount]) VALUES (1, N'A', 50)
INSERT [dbo].[theater] ([TheaterID], [TheaterName], [SeatCount]) VALUES (2, N'B', 45)
INSERT [dbo].[theater] ([TheaterID], [TheaterName], [SeatCount]) VALUES (3, N'C', 50)
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD  CONSTRAINT [booking_MemberID_fk] FOREIGN KEY([MemberID])
REFERENCES [dbo].[members] ([MemberID])
GO
ALTER TABLE [dbo].[booking] CHECK CONSTRAINT [booking_MemberID_fk]
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD  CONSTRAINT [booking_ShowTimeID_fk] FOREIGN KEY([ShowTimeID])
REFERENCES [dbo].[show_time] ([ShowTimeID])
GO
ALTER TABLE [dbo].[booking] CHECK CONSTRAINT [booking_ShowTimeID_fk]
GO
ALTER TABLE [dbo].[booking_detail]  WITH CHECK ADD  CONSTRAINT [booking_detail_BookingID_fk] FOREIGN KEY([BookingID])
REFERENCES [dbo].[booking] ([BookingID])
GO
ALTER TABLE [dbo].[booking_detail] CHECK CONSTRAINT [booking_detail_BookingID_fk]
GO
ALTER TABLE [dbo].[Booking_seat]  WITH CHECK ADD  CONSTRAINT [Booking_seat_BookingID_fk] FOREIGN KEY([BookingID])
REFERENCES [dbo].[booking] ([BookingID])
GO
ALTER TABLE [dbo].[Booking_seat] CHECK CONSTRAINT [Booking_seat_BookingID_fk]
GO
ALTER TABLE [dbo].[Booking_seat]  WITH CHECK ADD  CONSTRAINT [Booking_seat_SeatID_fk] FOREIGN KEY([SeatID])
REFERENCES [dbo].[seat] ([SeatID])
GO
ALTER TABLE [dbo].[Booking_seat] CHECK CONSTRAINT [Booking_seat_SeatID_fk]
GO
ALTER TABLE [dbo].[seat]  WITH CHECK ADD  CONSTRAINT [seat_ShowTimeID_fk] FOREIGN KEY([ShowTimeID])
REFERENCES [dbo].[show_time] ([ShowTimeID])
GO
ALTER TABLE [dbo].[seat] CHECK CONSTRAINT [seat_ShowTimeID_fk]
GO
ALTER TABLE [dbo].[seat]  WITH CHECK ADD  CONSTRAINT [seat_TheaterID_fk] FOREIGN KEY([TheaterID])
REFERENCES [dbo].[theater] ([TheaterID])
GO
ALTER TABLE [dbo].[seat] CHECK CONSTRAINT [seat_TheaterID_fk]
GO
ALTER TABLE [dbo].[show_time]  WITH CHECK ADD  CONSTRAINT [show_time_MovieID_fk] FOREIGN KEY([MovieID])
REFERENCES [dbo].[movie] ([MovieID])
GO
ALTER TABLE [dbo].[show_time] CHECK CONSTRAINT [show_time_MovieID_fk]
GO
ALTER TABLE [dbo].[show_time]  WITH CHECK ADD  CONSTRAINT [show_time_TheaterID_fk] FOREIGN KEY([TheaterID])
REFERENCES [dbo].[theater] ([TheaterID])
GO
ALTER TABLE [dbo].[show_time] CHECK CONSTRAINT [show_time_TheaterID_fk]
GO
USE [master]
GO
